.page-numbers {
    padding: 3px;
}

.single-gallery .acf-input {
    text-align-last: center;
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
}

.modal-body .wpcf7 {
    width: 85%;
    margin: 0 auto;
}

.section-header, .section-sub-header, .product-header, .article-header, .locator-result-list .locator-result-item .result-item-header,
.locator-result-list .locator-result-item .result-item-directions,
.locator-result-list .locator-result-item .result-item-phone {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 0.15em;
}

/*!
 * Bootstrap style override
 */
body {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding-top: 51px;
    font-weight: 400;
}

body.side-nav-expanded {
    overflow: hidden;
}

.navbar-default {
    background-color: #fff;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:active {
    background-color: #fff;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -52.5px;
}

.navbar-brand > img {
    max-height: 100%;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped > tbody > tr {
    background-color: #f9f9f9;
}

.carousel-indicators li {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: #888;
    border-color: transparent;
    margin: 1px 5px;
}

.carousel-indicators .active {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    margin: 1px 5px;
}

.carousel-indicators.k-carousel-light li {
    border-color: #888;
    background-color: #fff;
}

.carousel-indicators.k-carousel-light .active {
    background-color: #888;
}

.carousel-image-indicators {
    list-style: none;
    text-align: center;
    vertical-align: middle;
}

.carousel-image-indicators > li {
    padding: 10px;
}

.row .row {
    margin-left: 0;
    margin-right: 0;
}

.form-control {
    border-color: #dedede;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: 0;
}

.form-control:active, .form-control:focus, .form-control:hover {
    border-color: #dedede;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-addon {
    background-color: transprent;
    border-color: #dedede;
    border-radius: 0;
    color: #dedede;
}

/*Modal Override*/
.gallery-modal .modal-content {
    border-radius: 0;
}

.gallery-modal .modal-body {
    text-align: center;
    padding: 50px 0;
    min-height: 300px;
}

.gallery-modal .modal-body img {
    max-width: 100%;
}

.gallery-modal .modal-dialog {
    margin: 10px;
}

.gallery-modal .close {
    color: #888;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    border: 2px #888 solid;
    z-index: 1;
}

.gallery-modal .modal-image-loader {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    z-index: 2;
}

/*!
 * Shared Element
 */
.top-center-redline {
    position: relative;
}

.top-center-redline:before {
    content: '';
    background-color: #cf202f;
    display: block;
    height: 2px;
    top: 0;
    position: absolute;
    width: 30px;
    left: 50%;
    margin-left: -15px;
}

.top-left-redline {
    position: relative;
}

.top-left-redline:before {
    content: '';
    background-color: #cf202f;
    display: block;
    height: 2px;
    left: 0;
    margin-bottom: 10px;
    top: 0;
    width: 30px;
}

.top-left-redline.k-verticle:before {
    width: 2px;
    height: 30px;
    margin-left: -15px;
}

.left-marker-line {
    display: none;
    position: absolute;
    width: 1px;
    background-color: #808285;
    top: 100px;
    bottom: 40px;
}

.left-marker-line:before {
    content: '';
    background-color: #0082c9;
    display: block;
    height: 50px;
    left: 10px;
    position: absolute;
    top: 30px;
    width: 2px;
}

.bottom-center-band {
    bottom: 0;
    display: block;
    left: 0;
    padding: 30px 0;
    position: absolute;
    right: 0;
}

.horizontal-center-band {
    display: block;
    left: 0;
    padding: 30px 0;
    position: absolute;
    right: 0;
}

.horizontal-center-band.top-band {
    top: 60px;
}

.top-right-marker-line {
    background-color: #808285;
    display: block;
    height: 1px;
    position: absolute;
    right: 30px;
    width: 300px;
    z-index: 9;
}

.top-right-marker-line:before {
    content: '';
    background-color: #0082c9;
    display: block;
    height: 2px;
    top: 10px;
    position: absolute;
    right: 30px;
    width: 50px;
}

.bottom-left-marker-line {
    background-color: #808285;
    display: block;
    height: 1px;
    position: absolute;
    left: 30px;
    max-width: 300px;
    width: calc(100% - 60px);
    z-index: 9;
}

.bottom-left-marker-line:before {
    content: '';
    background-color: #0082c9;
    display: block;
    height: 2px;
    bottom: 10px;
    position: absolute;
    left: 30px;
    width: 50px;
}

.vertical-middle-band {
    bottom: 0;
    display: block;
    left: 0;
    padding: 0 30px;
    position: absolute;
    top: 0;
}

.vertical-middle-band.left-band {
    left: 0;
}

.vertical-middle-band.middle-band {
    left: 50%;
}

.angle-arrow-thin {
    border: solid #dedede;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 7px;
}

.angle-arrow-thin.angle-arrow-down {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.k-btn-transparent {
    background: transparent;
    border-color: #888;
    border-radius: 0;
    color: #000;
    font-family: "Oswald", sans-serif;
    font-size: 10px;
    letter-spacing: 0.15em;
    margin: 10px auto;
}

.section-dark .k-btn-transparent {
    border-color: #fff;
    color: #fff;
}

.k-btn-transparent.k-btn-extra-long {
    padding: 7px 30px;
}

.section-collection-cell .k-btn-transparent.k-btn-extra-long {
    padding: 10px 45px;
    font-size: 14px;
}

.k-btn-transparent.k-btn-red {
    border-color: #cf202f;
    color: #cf202f;
}

.k-reg-p {
    color: #000;
    font-size: 12px;
    line-height: 1.8em;
    letter-spacing: 0.8px;
}

.covered-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.k-gray-bg {
    background-color: #f9f9f9;
}

.k-text-red {
    color: #cf202f;
}

.k-full-height {
    height: 100%;
}

.k-no-margin {
    margin: 0 !important;
}

.k-no-margin-bottom {
    margin-bottom: 0 !important;
}

.k-no-padding {
    padding: 0 !important;
}

.k-no-padding-bottom {
    padding-bottom: 0 !important;
}

.k-padded-row.row > [class^="col-"] {
    padding-top: 60px;
    padding-bottom: 60px;
}

.k-overflow-hidden {
    overflow: hidden;
}

.visible-xxs-block {
    display: block !important;
}

.visible-xxs-inline {
    display: inline !important;
}

.visible-xxs-inline-block {
    display: inline-block !important;
}

/*!
 * Header Nav
 */
.navbar-header {
    float: left;
}

.navbar-nav > li > a {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-search-icon {
    color: #888;
    float: right;
    font-size: 20px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}

.nav-search-icon:hover, .nav-search-icon:focus, .nav-search-icon:active {
    color: #888;
}

.navbar-divider {
    display: none;
}

.full-page-overlay {
    background-color: #191919;
    height: 100%;
    left: 0;
    padding: 40px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.full-page-overlay.fade {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.full-page-overlay.in {
    filter: alpha(opacity=96);
    opacity: .96;
}

.full-page-overlay .overlay-close {
    color: #888;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    border: 1px #888 solid;
}

.full-page-overlay .overlay-close:hover, .full-page-overlay .overlay-close:active, .full-page-overlay .overlay-close:focus {
    text-decoration: none;
}

.full-page-overlay form {
    width: 100%;
    position: relative;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: 400;
}

.full-page-overlay form .glyphicon-search {
    color: #888;
    font-size: 20px;
    position: absolute;
    margin-top: -10px;
    top: 50%;
}

.full-page-overlay form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #888;
    color: #888;
    height: 50px;
    letter-spacing: 0.1em;
    outline: 0;
    padding: 15px 50px 12px 35px;
    width: 100%;
}

.full-page-overlay form .overlay-clear {
    color: #888;
    display: none;
    position: absolute;
    right: 0;
    top: 16px;
}

.full-page-overlay form.filled-in .overlay-clear {
    display: block;
}

.full-page-overlay:after {
    background-image: url(icons/logo-gray.png);
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 0;
    content: '';
    display: block;
    height: 26px;
    left: 0;
    margin: 25px auto;
    opacity: 0.5;
    position: absolute;
    right: 0;
    width: 98px;
}

.full-page-overlay .search-results-panel {
    height: calc(100% - 110px);
    margin-top: 20px;
    padding: 20px 15px;
    overflow: auto;
    background-color: #333;
    display: none;
}

.full-page-overlay .search-result-item {
    border-top: 1px solid #f9f9f9;
    color: #dedede;
    letter-spacing: 0.8px;
    font-family: "Oswald", sans-serif;
    margin-top: 20px;
    padding-top: 20px;
}

.full-page-overlay .search-result-item .search-result-header {
    font-weight: 400;
    font-size: 14px;
}

.full-page-overlay .search-result-item .search-result-content {
    font-weight: 300;
    font-size: 12px;
}

.full-page-overlay .search-result-item:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

/*Side Nav*/
.side-nav-wrap {
    height: 100%;
    left: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
    transition: left 0.3s ease-in-out;
    -webkit-transition: left 0.3s ease-in-out;
    -moz-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
}

.side-nav-expanded .side-nav-wrap {
    left: 0;
    background-position: center;
}

.k-full-cover {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.side-nav {
    background-color: rgba(25, 25, 25, 0.9);
    height: 100%;
    width: 100%;
    padding: 30px 15% 120px;
}

.side-nav-close {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    left: 20px;
    position: absolute;
    top: 20px;
}

.side-nav-close:hover, .side-nav-close:active, .side-nav-close:focus {
    color: #dedede;
    text-decoration: none;
}

.side-nav-overflow {
    height: 100%;
    overflow: auto;
}

.side-nav-overflow .k-table {
    height: 100%;
    overflow: hidden;
}

.side-nav-links ul > li {
    border-top: 1px solid #888;
    position: relative;
}

.side-nav-links ul > li:first-child {
    border-top: 0;
}

.side-nav-links ul > li.sub-nav-active > a {
    color: #fff;
}

.side-nav-links a {
    color: #999;
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.15em;
    padding: 20px 0;
}

.side-nav-links a.nav-main-link.with-sub-nav:before {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 10px;
    font-size: 18px;
    top: 14px;
    font-weight: 300;
}

.side-nav-links a.side-sub-nav-back {
    padding: 0 0 10px;
    font-weight: 300;
    font-size: 18px;
}

.side-nav-links a:hover, .side-nav-links a:active, .side-nav-links a:focus {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

.side-nav-links .side-nav-main {
    width: 100%;
}

.side-nav-sub-links {
    padding: 60px 40px;
    position: fixed;
    top: 0;
    width: 100%;
}

.side-nav-social, .side-nav-copyright {
    padding: 15px 0;
    font-size: 12px;
    font-weight: 300;
}

/*!
 * Homepage
 */
.section-header {
    font-size: 36px;
    color: #000;
}

.section-dark .section-header {
    color: #fff;
}

.section-header.sh-smaller {
    font-size: 30px;
}

.section-header.sh-extra-small {
    font-size: 26px;
}

.section-gallery-cell .section-header {
    font-size: 24px;
    color: #fff;
    line-height: initial;
    margin-bottom: 0;
}

.four-tile-block .section-header {
    font-size: 18px;
}

h1.section-header,
h2.section-header {
    margin-bottom: 20px;
    margin-top: 0;
}

.section-sub-header {
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
}

.section-dark .section-sub-header {
    color: #dedede;
}

.section-sub-header.k-size-xs {
    font-size: 14px;
}

.section-sub-header.ssh-xl-thin {
    font-size: 24px;
}

.section-gallery-cell .section-sub-header {
    color: #cf202f;
    font-size: 11px;
    letter-spacing: 0.8px;
    margin-bottom: 0;
}

.section-gallery-cell .section-sub-header.k-blue {
    color: #0082c9;
}

.section-paragraph {
    color: #999;
    font-size: 12px;
    padding: 15px 0;
    line-height: 1.8em;
    letter-spacing: 0.8px;
}

.section-dark .section-paragraph {
    color: #fff;
}

.section-info-wrap {
    padding-left: 50px;
    padding-right: 50px;
}

.section-info-wrap.top-center-redline {
    padding: 25px 30px;
}

.section-info-wrap > *:last-child {
    margin-bottom: 0;
}

.section-explore-btn {
    color: #dedede;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.25em;
}

.section-explore-btn:hover, .section-explore-btn:focus, .section-explore-btn:active {
    color: #808285;
    text-decoration: none;
}

.section-explore-btn:hover .angle-arrow-thin, .section-explore-btn:focus .angle-arrow-thin, .section-explore-btn:active .angle-arrow-thin {
    border-color: #808285;
}

.section-explore-btn .angle-arrow-thin {
    margin-bottom: 15px;
}

.section-left-cover {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}

.section-gallery-cell a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-gallery-cell a:hover,
.section-gallery-cell a:active,
.section-gallery-cell a:focus {
    text-decoration: none;
}

/*Collection Page*/
#collection-products {
    height: 100%;
}

#collection-products .slick-list {
    height: 100%;
}

#collection-products .slick-list .slick-track {
    height: 100%;
}

.product-wrap {
    background-image: url(/wp-content/uploads/2017/09/home-bg-2.png);
    height: 100%;
    position: relative;
    min-height: 200px;
}

.product-info {
    padding: 20px 35px;
}

.product-info .product-short-desc {
    overflow: hidden;
    max-height: 500px;
}

.is-touch-screen .product-info .product-short-desc {
    max-height: 0 !important;
    margin-bottom: 0 !important;
}

.product-showcase-list .product-info .product-short-desc {
    max-height: 500px !important;
    margin-bottom: 15px !important;
}

.product-info .product-full-desc {
    max-height: 0;
    overflow: hidden;
    margin: 0;
}

.is-touch-screen .product-info .product-full-desc {
    max-height: 500px !important;
    margin-bottom: 0 !important;
}

.product-info .product-full-desc .btn {
    margin-bottom: 0;
}

.product-info:hover .product-short-desc,
  .product-info:active .product-short-desc,
  .product-info:focus .product-short-desc {
    max-height: 0;
    margin: 0;
}

.product-info:hover .product-full-desc,
  .product-info:active .product-full-desc,
  .product-info:focus .product-full-desc {
    max-height: 500px;
    margin-bottom: 15px;
    transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
}

a.product-info:hover,
a.product-info:active,
a.product-info:focus {
    text-decoration: none;
}

.product-header {
    font-size: 16px;
    margin-bottom: 10px;
    color: #999;
}

.section-dark .product-header {
    color: #fff;
}

.product-desc {
    color: #999;
    font-size: 11px;
    line-height: 1.6em;
    letter-spacing: 0.8px;
}

.section-dark .product-desc {
    color: #dedede;
}

/*Slick*/
.slick-prev {
    left: 25px;
    z-index: 9;
    width: 40px;
    height: 40px;
}

.slick-prev:before {
    font-size: 42px;
}

.slick-next {
    right: 25px;
    z-index: 9;
    width: 40px;
    height: 40px;
}

.slick-next:before {
    font-size: 42px;
}

.row.k-full-height > [class^="col-"] {
    padding-bottom: 60px;
    padding-top: 60px;
}

.row.k-full-height > [class^="col-"].section-gallery-col {
    padding: 0;
}

.row.k-full-height > [class^="col-"].four-tile-block {
    padding: 0;
}

.row.k-full-height > [class^="col-"] [class^="col-"] {
    padding-bottom: 0;
    padding-top: 0;
}

.container.k-full-width .row > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.k-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.k-table-row {
    display: table-row;
    height: 100%;
}

.k-table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.k-table-cell.k-with-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.k-table-cell.k-bottom {
    vertical-align: bottom;
}

.k-table-cell.k-bottom.k-with-padding {
    padding-top: 0;
    padding-bottom: 8%;
}

.k-table-cell.k-top {
    vertical-align: top;
}

.k-table-cell.k-top.k-with-padding {
    padding-bottom: 0;
    padding-top: 8%;
}

td.k-bottom {
    vertical-align: bottom;
}

td.k-top {
    vertical-align: top;
}

.product-info-wrap {
    padding: 20px 30px;
}

.product-price {
    color: #666;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 1.8em;
}

.product-description,
.blog-item-desc,
.article-body {
    color: #666;
    font-size: 12px;
    line-height: 1.8em;
    letter-spacing: 0.8px;
}

.section-dark .product-description, .section-dark
  .blog-item-desc, .section-dark
  .article-body {
    color: #fff;
}

.product-menu-list {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin: 0;
    padding: 10px 0;
}

.k-gray-link {
    color: #666;
    font-family: "Oswald", sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.8px;
}

.side-nav-wrap .k-gray-link {
    color: #999;
}

.k-gray-link:hover, .k-gray-link:active, .k-gray-link:focus {
    color: #808285;
}

.product-menu-list .k-gray-link {
    font-size: 12px;
}

.product-menu-list .k-gray-link.active:after {
    content: '';
    position: absolute;
    width: 20px;
    left: 50%;
    margin-left: -10px;
    height: 2px;
    background-color: #cf202f;
    display: block;
    bottom: -10px;
}

.k-gray-text {
    color: #666;
    font-family: "Oswald", sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.8px;
}

.side-nav-wrap .k-gray-text {
    color: #999;
}

.k-gray {
    color: #666;
}

.k-blue {
    color: #0082c9;
}

.specs-table {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.15em;
    margin: 25px -10px;
}

.specs-table.table > tbody > tr > td {
    border: 0;
    color: #808285;
    font-size: 10px;
}

.specs-table.table > thead > tr > th {
    border-bottom: 1px solid #dedede;
}

.specs-table.table > tbody > tr > td,
  .specs-table.table > thead > tr > th {
    padding: 10px;
}

.product-showcase-list {
    margin: 20px 0;
}

.product-showcase-list.row {
    margin: 20px -10px;
}

.product-showcase-list.row > [class^="col-"] {
    padding: 10px !important;
}

.product-showcase-item {
    padding: 20px;
    border: 1px solid #dedede;
}

.product-showcase-image {
    width: 50%;
}

.product-detail-carousel .item,
.product-detail-image {
    height: 100%;
    width: 100%;
}

.product-image-carousel .item {
    padding: 0 20px;
}

.product-top-banner {
    display: none;
}

.table-responsive {
    border: none !important;
}

.finish-form .chosen-container {
    border: 1px solid #dedede;
    margin-left: 0;
    min-width: 160px;
}

.finish-form .chosen-container .chosen-single span {
    padding: 0 5px;
}

/*New Collection Page*/
[class^="col-"].section-collection-col {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.section-collection-cell {
    height: 300px;
    overflow: auto;
    position: relative;
}

.section-collection-cell .k-table {
    height: 100%;
}

.product-showcase-list .section-collection-cell .k-table {
    overflow: hidden;
}

.product-showcase-list .section-collection-cell {
    height: 200px;
}

.section-collection-cell > .collection-table-wrap {
    height: 100%;
}

.section-collection-cell .collection-table-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/*Our Story Page*/
.k-half-block {
    height: 50%;
}

.k-half-block.covered-bg {
    min-height: 240px;
}

.half-cell-wrap {
    padding: 25px 40px;
    overflow: auto;
}

.half-cell-header {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    letter-spacing: 0.8px;
}

.half-cell-content {
    padding: 15px 0;
}

.half-cell-quote {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    text-align: left;
    letter-spacing: .15em;
    padding: 40px 0;
    position: relative;
}

.half-cell-quote:before {
    content: '"';
    color: #888;
    font-size: 48px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
}

.half-cell-quote:after {
    bottom: -25px;
    content: '"';
    color: #888;
    font-size: 48px;
    font-weight: 300;
    position: absolute;
    left: 0;
}

.block-padding-col {
    padding: 40px;
}

/*Gallery Page*/
.filter-block {
    font-family: "Oswald", sans-serif;
    line-height: 1.8em;
    letter-spacing: 0.8px;
    display: inline-block;
    text-align: left;
}

.filter-block > * {
    float: left;
}

.filter-block:after {
    content: '';
    clear: both;
    display: block;
}

.filter-block .filter-header {
    color: #666;
}

select.filter-select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
    background-color: #fff;
    letter-spacing: 0.8px;
    margin: 0 25px 0 10px;
    padding-right: 30px;
    outline: 0;
    background-image: url(icons/select-arrow-down.png);
    background-repeat: no-repeat;
    background-position: right 2px center;
    text-transform: uppercase;
}

select.filter-select:last-child {
    margin-right: 0;
}

.chosen-container-single .chosen-single div b {
    background-image: url(icons/select-arrow-down.png);
    background-repeat: no-repeat;
}

.chosen-container-single.chosen-with-drop .chosen-single div b {
    background-image: url(icons/select-arrow-up.png);
    background-repeat: no-repeat;
}

.gallery-image-container {
    margin: 0 20px 40px;
    min-height: 160px;
    position: relative;
}

.gallery-image-container .gallery-image {
    margin-top: 20px;
}

.gallery-image {
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-block;
}

.gallery-image.double-sized {
    width: 100%;
    max-width: 100%;
}

.gallery-image img {
    width: 100%;
    max-height: 100%;
}

.load-more-wrap {
    margin-top: -20px;
    margin-bottom: 20px;
}

.load-more-wrap > span {
    display: inline-block;
}

.coming-soon-wrap > span {
    display: inline-block;
}

.gallery-load-more > img {
    display: none;
    width: 20px;
    margin-right: 5px;
    margin-top: -4px;
}

.gallery-load-more.k-loading > img {
    display: inline-block;
}

.loader-center-middle {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

/*Contact Form*/
.full-width-form {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
}

.full-width-form input {
    letter-spacing: 0.8px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #dedede;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    outline: none !important;
}

.full-width-form input[type="submit"] {
    margin-top: 20px;
    font-size: 14px;
}

.full-width-form textarea {
    letter-spacing: 0.8px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #dedede;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    outline: none;
}

.section-image-wrap {
    overflow: hidden;
    max-height: 100%;
}

.section-image-wrap img {
    max-height: 100%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*Blog Landing*/
.blog-item-container {
    width: 80%;
    margin: 20px auto 40px;
}

.blog-item-container .blog-item {
    margin-top: 20px;
}

.blog-item {
    background-color: #fff;
    width: 360px;
    padding: 20px;
    height: auto;
    overflow: hidden;
}

.blog-item img {
    width: 100%;
    max-height: 100%;
}

.blog-item .blog-item-header {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
}

.blog-item .blog-item-more {
    margin-top: 25px;
}

.blog-item-info-wrap {
    padding-top: 20px;
    letter-spacing: 0.8px;
}

.blog-item-info-wrap > *:last-child {
    margin-bottom: 0;
}

/*Blog Article*/
.article-banner-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-banner-wrap > img {
    max-width: 100%;
}

.article-body-wrap {
    padding-bottom: 40px;
}

.article-header {
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}

table.article-image-table {
    margin: 30px 0;
}

table.article-image-table > tbody > tr > td {
    padding-left: 10px;
}

table.article-image-table > tbody > tr > td img {
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

table.article-image-table > tbody > tr > td:first-child {
    padding-left: 0;
    padding-right: 10px;
}

.article-body img {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.article-body .article-bottom {
    margin-top: 40px;
}

/*Store Locator*/
.locator-search-wrap .input-group {
    background-color: #f9f9f9;
}

.locator-search-wrap .input-group-addon {
    background-color: transparent;
    border-left: 0;
    border-right: 0;
}

.locator-search-wrap .input-group-addon > img {
    width: 15px;
}

.locator-search-wrap .form-control {
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.15em;
    height: 44px;
    padding-left: 5px;
}

.locator-scroll-wrap {
    overflow-y: auto;
    height: calc(100% - 60px);
}

.locator-result-list {
    padding-bottom: 30px;
}

.locator-result-list .locator-result-item {
    border-bottom: 1px solid #dedede;
    color: #000;
    padding: 35px 20px;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.locator-result-list .locator-result-item:hover, .locator-result-list .locator-result-item:active, .locator-result-list .locator-result-item:focus {
    color: #000;
    text-decoration: none;
    outline: none;
}

.locator-result-list .locator-result-item.active {
    background-color: #efefef;
}

.locator-result-list .locator-result-item.active:after {
    background-color: #cf202f;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.locator-result-list .locator-result-item:last-child {
    border-bottom: 0;
}

.locator-result-list .locator-result-item .result-item-header {
    display: inline-block;
}

.locator-result-list .locator-result-item .result-item-directions {
    color: #000;
}

.locator-result-list .locator-result-item .result-item-directions:hover, .locator-result-list .locator-result-item .result-item-directions:active, .locator-result-list .locator-result-item .result-item-directions:focus {
    color: #000;
    text-decoration: none;
}

.locator-result-list .locator-result-item .result-item-distance,
    .locator-result-list .locator-result-item .result-item-phone {
    float: right;
}

.locator-result-list .locator-result-item .result-item-distance:after,
      .locator-result-list .locator-result-item .result-item-phone:after {
    content: '';
    display: block;
    clear: both;
}

.locator-result-list .locator-result-item .result-item-address {
    font-size: 12px;
    letter-spacing: 0.8px;
    margin-top: 15px;
    margin-bottom: 25px;
}

#locator-map-wrap {
    background-color: #888;
    min-height: 300px;
}

#locator-utils-wrap {
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}

#locator-content .fp-tableCell {
    display: block;
}

.use-location-icon {
    background-image: url(icons/location.svg);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.use-location-icon.active,
  .use-location-btn.active .use-location-icon {
    background-image: url(icons/location-active.svg);
}

@media (max-width: 767px) {
    .section-gallery-cell {
        height: 240px;
    }

    .section-gallery-cell .section-info-wrap {
        padding: 20px 30px;
    }

    .product-image-carousel .carousel-inner {
        margin: 0 auto;
        max-width: 320px;
        padding-bottom: 70px;
    }

    .product-detail-carousel {
        min-height: 320px;
    }

    .row.k-full-height > [class^="col-"].k-sm-no-padding {
        padding: 0;
    }

    .row > [class^="col-"].k-sm-no-padding {
        padding: 0;
    }

    .empty-img-col {
        min-height: 320px;
    }
  /*Store Locator*/
    .locator-search-wrap .input-group-addon {
        border: 0;
    }

    .locator-search-wrap .form-control {
        border: 0;
    }
}

@media (max-width: 479px) {
    .section-info-wrap p:last-child {
        margin-bottom: 0;
    }

    .section-gallery-cell {
        height: 200px;
    }

    .section-gallery-cell .section-info-wrap {
        padding: 10px 20px;
    }

    .side-nav-sub-links {
        background-color: #191919;
        height: 100%;
        left: 100%;
        margin-top: 0 !important;
        top: 0 !important;
        transition: left 0.3s ease-in-out;
        -webkit-transition: left 0.3s ease-in-out;
        -moz-transition: left 0.3s ease-in-out;
        -o-transition: left 0.3s ease-in-out;
        z-index: 2;
    }

    .sub-nav-active .side-nav-sub-links {
        left: 0;
    }
}

@media (max-height: 479px) {
    .side-nav {
        padding-bottom: 80px;
    }

    .side-nav-close {
        top: 15px;
    }

    .side-nav-links a {
        padding: 16.5px 0;
    }

    .side-nav-links a.nav-main-link.with-sub-nav:before {
        top: 11px;
    }

    .side-nav-social, .side-nav-copyright {
        padding: 5px 0;
    }
}

@media (min-width: 480px) {
    [class^="visible-xxs-"], [class*=" visible-xxs-"] {
        display: none !important;
    }

    .full-page-overlay {
        padding: 40px;
    }

    .side-nav-links .side-nav-main {
        width: 65%;
        padding-right: 10px;
    }

    .side-nav-links .sub-nav-active > a:after {
        content: '';
        background-color: #cf202f;
        display: block;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: 13px;
        width: 26px;
    }

    .side-nav-links .side-nav-sub-links li {
        border: 0;
    }

    .side-nav-links .side-nav-sub-links li:last-child a {
        padding-bottom: 20px;
    }

    .side-nav-links .side-nav-sub-links li:first-child a {
        padding-top: 20px;
    }

    .side-nav-links .side-nav-sub-links li a {
        color: #fff;
        padding: 10px 0;
    }

    .side-nav-sub-links {
        opacity: 0;
        padding: 0 0 0 30px;
        position: absolute;
        left: calc(100% + 10px);
        transition: visibility 0s, opacity 0.3s linear;
        -webkit-transition: visibility 0s, opacity 0.3s linear;
        -moz-transition: visibility 0s, opacity 0.3s linear;
        -o-transition: visibility 0s, opacity 0.3s linear;
        visibility: hidden;
    }

    .sub-nav-active .side-nav-sub-links {
        visibility: visible;
        opacity: 1;
    }

    .sub-nav-bottom .side-nav-sub-links {
        top: auto;
        bottom: 0;
    }

    .section-header {
        font-size: 42px;
    }

    .section-header.sh-smaller {
        font-size: 36px;
    }

    .section-header.sh-extra-small {
        font-size: 30px;
    }

    .four-tile-block .section-header {
        font-size: 20px;
    }

    .section-gallery-cell .section-sub-header {
        font-size: 12px;
    }

    .section-sub-header.ssh-xl-thin {
        font-size: 28px;
    }

    .section-info-wrap {
        margin-left: 40px;
        margin-right: 40px;
    }

    .section-info-wrap.top-center-redline {
        padding-left: 40px;
        padding-right: 40px;
    }

    .section-paragraph {
        font-size: 14px;
    }

    .product-wrap {
        min-height: 240px;
    }

    .product-info-wrap {
        padding: 20px 50px;
    }

    .half-cell-quote {
        font-size: 30px;
    }
  /*Blog Article*/
    .article-header {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .article-body img {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .article-body .article-bottom {
        margin-top: 50px;
    }
  /*Store Locator*/
    .locator-result-list .locator-result-item {
        padding: 35px;
    }

    .locator-result-list .locator-result-item .result-item-address {
        font-size: 14px;
    }
  /*Gallery Page*/
    .gallery-image {
        width: 200px;
    }

    .gallery-image.double-sized {
        width: 420px;
    }

    .gallery-image-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
  /*!
     * Bootstrap style override
     */
    body {
        padding-top: 60px;
    }

    p {
        margin-bottom: 15px;
    }

    .container {
        width: calc(100% - 18px);
    }

    .container.k-full-width {
        width: 100%;
    }

    .container.k-article-width-md {
        width: 720px !important;
    }

    .navbar-brand {
        height: 60px;
        position: static;
        margin-left: 10px;
        left: auto;
    }

    .navbar-toggle {
        display: block;
        padding: 14px 0;
        margin-left: 0;
    }

    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .four-tile-block[class^="col-"] {
        padding: 0;
    }

    .four-tile-block[class^="col-"] tr:first-child td {
        padding-top: 61px;
    }
  /*Modal Override*/
    .gallery-modal .modal-dialog {
        margin: 0 auto;
    }

    .gallery-modal .close {
        font-size: 18px;
        width: 28px;
        height: 28px;
        line-height: 21px;
    }

    .full-page-overlay {
        padding: 80px 100px;
    }

    .full-page-overlay .overlay-close {
        font-size: 18px;
        right: 30px;
        top: 30px;
        width: 28px;
        height: 28px;
        line-height: 21px;
    }

    .full-page-overlay form {
        font-size: 16px;
    }

    .full-page-overlay form input {
        height: 60px;
    }

    .full-page-overlay form .overlay-clear {
        top: 20px;
    }

    .full-page-overlay:after {
        height: 32px;
        width: 121px;
    }

    .full-page-overlay .search-results-panel {
        height: calc(100% - 80px);
    }
  /*Side Nav*/
    .side-nav {
        background-color: #191919;
        padding: 30px 30px 140px 80px;
        width: 420px;
    }

    .side-nav-links .side-nav-main {
        width: 50%;
    }

    .side-nav-close {
        left: 18px;
        top: 18px;
    }
  /*!
     * Shared Element
     */
    .top-left-redline {
        margin-bottom: 20px;
    }

    .top-left-redline.k-verticle:before {
        margin-left: -25px;
    }

    .left-marker-line {
        display: block;
    }

    .k-btn-transparent {
        font-size: 14px;
    }

    .k-btn-transparent.k-btn-extra-long {
        padding: 10px 45px;
      /*.tile-block-4 &,
            .tile-block-3 &,
            .col-md-3 & {
                font-size: $xs-font-size;
                margin-top: 0;
                padding: 7px 30px;
            }*/
    }
  /*!
     * Header Nav
     */
    .navbar-right {
        position: relative;
    }

    .nav-search-icon {
        float: left;
        height: 60px;
        line-height: 34px;
        padding-right: 0;
    }

    .navbar-divider {
        color: #888;
        display: block;
        float: left;
        height: 60px;
        padding: 15px 40px;
        font-size: 18px;
    }

    .search-input-wrap {
        float: left;
        height: 60px;
        padding: 11px 0;
        position: relative;
        width: 220px;
        position: absolute;
        right: 204px;
    }
  /*!
     * Homepage
     */
    .section-header {
        font-size: 54px;
    }

    .section-header.sh-smaller {
        font-size: 40px;
    }

    .section-header.sh-extra-small {
        font-size: 34px;
    }

    .section-gallery-cell .section-header {
        font-size: 44px;
    }

    .four-tile-block .section-header {
        font-size: 24px;
    }

    .section-sub-header {
        display: block;
        font-size: 18px;
    }

    .section-gallery-cell .section-sub-header {
        font-size: 14px;
    }

    .four-tile-block .section-sub-header {
        font-size: 12px;
    }

    .section-sub-header.ssh-xl-thin {
        font-size: 32px;
    }

    .section-explore-btn {
        font-size: 14px;
    }

    .section-explore-btn .angle-arrow-thin {
        padding: 10px;
        margin-bottom: 20px;
    }

    .section-info-wrap.restricted-width {
        max-width: 630px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-info-wrap.restricted-width-lg {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-info-wrap.restricted-width-lg [class^="col-sm"] {
        padding-left: 20px !important;
    }

    .section-info-wrap.restricted-width-lg [class^="col-sm"]:first-child {
        padding-left: 0 !important;
        padding-right: 20px !important;
    }

    .section-info-wrap.top-center-redline {
        margin-top: 20px;
    }

    .section-gallery-cell .section-info-wrap {
        margin: 30px 40px;
        padding-top: 25px;
    }

    .four-tile-block .section-gallery-cell .section-info-wrap {
        margin: 10px;
        padding: 10px 20px;
    }

    .col-sm-6 .section-info-wrap {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .col-sm-6 .section-info-wrap.section-info-wider {
        max-width: 500px;
    }

    .col-sm-5 .section-info-wrap {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .col-md-6 .section-info-wrap {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }

    .product-info {
        padding: 50px 35px;
    }

    .product-header {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .row.k-full-height > [class^="col-"] {
        height: 100%;
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .row.k-full-height > [class^="col-"].section-gallery-col {
        height: 100%;
    }

    .product-info-wrap {
        padding-left: 75px;
        padding-right: 75px;
    }

    .product-desc {
        font-size: 12px;
        line-height: 1.8em;
    }

    .product-image-carousel .item {
        padding: 0 35px;
    }

    .related-products {
        margin-top: 60px;
    }
  /*.banner-video {
        height: calc(100% - 60px);
    }*/
    .scroll-overlay-helper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .product-top-banner {
        display: block;
        height: 25%;
        background-position: center;
        background-size: cover;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
    }

    .product-top-banner .banner-video {
        width: 1024px;
        height: 675px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -337.5px;
        margin-left: -512px;
    }
  /*New Collection Page*/
    .section-collection-col:after {
        content: '';
        display: block;
        clear: both;
    }

    .section-collection-cell {
        width: 100%;
        overflow: hidden;
    }

    .section-collection-cell .product-info {
        padding: 35px;
    }

    .product-showcase-list .section-collection-cell .product-info {
        padding: 35px 25px;
    }

    .tile-block-4 .section-collection-cell {
        width: 50%;
        float: left;
    }

    .tile-block-2 .section-collection-cell {
        width: 100%;
        float: left;
    }

    .tile-block-3 .section-collection-cell {
        width: 50%;
        float: left;
    }

    .tile-block-3 .section-collection-cell:last-child {
        width: 100%;
    }

    .product-showcase-list .section-collection-cell {
        height: 300px;
    }

    .section-collection-cell .collection-table-bg {
        width: calc(100% + 1px);
        transition: all .5s;
        -ms-transition: all .5s;
        -webkit-transform: all .5s;
    }

    .section-collection-cell:hover .collection-table-bg {
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }

    .single-full-page {
        overflow: auto !important;
    }

    .single-full-page > .section {
        min-height: 640px !important;
    }

    .row.k-full-height > .col-sm-6.section-collection-col {
        height: 50%;
    }

    .row.k-full-height > .col-sm-6.section-collection-col .section-collection-cell {
        height: 100%;
    }
  /*Our Story Page*/
    .col-sm-6.seperated-col .k-half-block {
        margin-left: 5px;
    }

    .col-sm-6.seperated-col:first-child .k-half-block {
        margin-left: 0;
        margin-right: 5px;
    }

    .text-sm-left {
        text-align: left;
    }

    .text-sm-right {
        text-align: right;
    }

    .k-half-block .covered-bg {
        min-height: 0;
        margin-top: 0;
    }

    .half-cell-wrap {
        padding: 30px 70px;
    }

    .block-padding-col {
        padding: 0;
    }

    .block-padding-col .row > [class^="col-"] {
        padding: 0 45px !important;
    }

    .half-cell-quote {
        font-size: 34px;
        padding: 40px 0;
    }

    .half-cell-quote:before {
        font-size: 48px;
    }

    .half-cell-quote:after {
        font-size: 48px;
    }
  /*Gallery Page*/
    .gallery-image-container {
        margin-bottom: 80px;
        min-height: 240px;
    }
  /*Contact Form*/
    .full-width-form {
        font-size: 16px;
    }

    .full-width-form input[type="submit"] {
        font-size: 16px;
    }
  /*Blog Landing*/
    .blog-item-container {
        margin: 60px auto 80px;
    }
  /*Blog Article*/
    .article-banner-wrap {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .article-body-wrap {
        padding-bottom: 60px;
    }

    .article-header {
        font-size: 30px;
        margin-bottom: 40px;
    }

    table.article-image-table {
        margin: 40px 0;
    }

    .article-body img {
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .article-body .article-bottom {
        margin-top: 60px;
    }
  /*Store Locator*/
    .locator-search-wrap .input-group-addon {
        padding-left: 15px;
        padding-right: 15px;
    }

    .locator-search-wrap .input-group-addon > img {
        width: 18px;
    }

    .locator-search-wrap .form-control {
        font-size: 16px;
        height: 60px;
    }

    .locator-result-list .locator-result-item {
        padding: 35px 20px;
    }

    .use-location-icon {
        background-size: 18px 18px;
        height: 18px;
        width: 18px;
    }
}

@media (min-width: 992px) {
  /*!
     * Bootstrap style override
     */
    .container {
        width: calc(100% - 22px);
    }

    .container.k-full-width {
        width: 100%;
    }

    .container.k-90-width-lg {
        width: 90% !important;
    }

    .container.k-80-width-lg {
        width: 80% !important;
    }
  /*Side Nav*/
    .side-nav {
        width: 480px;
        padding: 30px 30px 140px 100px;
    }

    .side-nav-sub-links {
        padding-left: 40px;
    }
  /*!
     * Homepage
     */
    .section-header {
        font-size: 68px;
    }

    .section-header.sh-smaller {
        font-size: 48px;
    }

    .section-header.sh-extra-small {
        font-size: 42px;
    }

    .four-tile-block .section-header {
        font-size: 26px;
    }

    .section-sub-header {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .section-sub-header.k-size-xs {
        font-size: 16px;
    }

    .section-sub-header.ssh-xl-thin {
        font-size: 36px;
    }

    .section-info-wrap.restricted-width-lg {
        max-width: 960px;
    }

    .section-info-wrap.restricted-width-lg [class^="col-md"] {
        padding-left: 20px !important;
    }

    .section-info-wrap.restricted-width-lg [class^="col-md"]:first-child {
        padding-left: 0 !important;
        padding-right: 20px !important;
    }

    .col-sm-6 .section-info-wrap {
        max-width: 480px;
    }

    .col-sm-6 .section-info-wrap.section-info-wider {
        max-width: 580px;
    }

    .col-sm-5 .section-info-wrap {
        max-width: 420px;
    }

    .product-info-wrap {
        padding-left: 95px;
        padding-right: 95px;
    }

    .product-showcase-list {
        margin: 40px 0;
    }

    .product-showcase-list.row {
        margin: 40px -10px;
    }

    .product-showcase-list .section-collection-cell {
        height: 300px;
    }

    .product-showcase-list .section-collection-cell .product-info {
        padding: 35px;
    }
  /*New Collection Page*/
    .section-collection-cell {
        height: 100%;
    }

    .tile-block-4 .section-collection-cell {
        height: 50%;
    }

    .tile-block-2 .section-collection-cell {
        height: 50%;
    }

    .tile-block-3 .section-collection-cell {
        height: 50%;
    }

    .tile-block-4 .k-btn-transparent.k-btn-extra-long,
  .tile-block-3 .k-btn-transparent.k-btn-extra-long {
        font-size: 13px;
        margin-top: 5px;
        padding: 8px 30px;
    }

    .row.k-full-height > .col-sm-6.section-collection-col {
        height: 100%;
    }
  /*Our Story Page*/
    .text-md-right {
        text-align: right;
    }

    .half-cell-content {
        font-size: 14px;
    }
  /*Store Locator*/
    .locator-result-list .locator-result-item {
        padding: 35px;
    }
}

@media (min-width: 1200px) {
  /*!
     * Bootstrap style override
     */
    .container {
        width: calc(100% - 30px);
    }

    .container.k-full-width {
        width: 100%;
    }
  /*Side Nav*/
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    select.filter-select,
  .chosen-container-single .chosen-single div b {
        background-image: url(icons/select-arrow-down@2x.png);
        background-size: 12px 12px;
    }

    .chosen-container-single.chosen-with-drop .chosen-single div b {
        background-image: url(icons/select-arrow-up@2x.png);
        background-size: 12px 12px;
    }
}
